@use "mixins" as m;
@use "variables" as v;

body {
  @include m.sm {
    width: 100%;
    height: 100vh;
    background-image: url(/src/img/pexels.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  @include m.md {
    width: 100%;
    height: 100vh;
    background-image: url(/src/img/pexels.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  @include m.lg {
    width: 100%;
    height: 100vh;
    background-image: url(/src/img/pexels.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .section1 {
    @include m.sm {
      position: relative;
      background-color: white;
      border-radius: 5%;
      width: 70%;
      height: 50%;
      transform: translateX(25%) translateY(5%);
    }
    @include m.md {
      width: 50%;
      height: 70%;
      transform: translateX(12%) translateY(22%);
    }
    @include m.lg {
      max-width: 30%;
      max-height: 90%;
      transform: translateX(58%) translateY(22%);
    }
    h1 {
      @include m.sm {
        font-family: 'Questrial', sans-serif;
        font-weight: lighter;
        font-size: 40px;
        text-align: center;
        transform: translateY(90%);
      }
      @include m.md {
        font-family: 'Questrial', sans-serif;
        font-weight: lighter;
        font-size: 38px;
        transform: translateY(80%);
      }
      @include m.lg {
        font-family: 'Questrial', sans-serif;
        font-weight: lighter;
        font-size: 240%;
        text-align: center;
        transform: translateY(20%);
      }
    }
    #sortButton {
      @include m.sm {
        border-radius: 5%;
        border: 2px double rgb(57, 221, 221);
        background-color: rgb(255, 255, 255);
        left: 73%;
        bottom: 90%;
        position: absolute;
        width: 70px;
        height: 28px;
        font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      }
      @include m.md {
        border-radius: 5%;
        border: 2px double rgb(57, 221, 221);
        background-color: rgb(255, 255, 255);
        left: 79%;
        bottom: 93%;
        position: absolute;
        width: 70px;
        height: 28px;
        font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      }
      @include m.lg {
        border-radius: 5%;
        border: 2px double rgb(57, 221, 221);
        background-color: rgb(255, 255, 255);
        left: 73%;
        bottom: 90%;
        position: absolute;
        width: 70px;
        height: 28px;
        font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      }
    }
  }
}



.form {
  @include m.sm {
    display: flex;
    position: relative;
    transform: translateX(15%);
    padding-top: 12%;
  }
  @include m.md {
    display: flex;
    position: relative;
    max-width: 75%;
    transform: translateX(30%);
    padding-top: 12%;
  }
  @include m.lg {
    display: flex;
    position: relative;
    max-width: 75%;
    transform: translateX(30%);
    padding-top: 12%;
  }
  input {
    @include m.sm {
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      max-width: 60%;
      height: 25px;
      font-size: 25px;
    }
    @include m.md {
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      width: 315px;
      height: 25px;
      font-size: 25px;
    }
    @include m.lg {
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      width: 250px;
      height: 30px;
      font-size: 25px;
    }
  }
  button {
    @include m.sm {
      border-radius: 5%;
      border: 2px double rgb(57, 221, 221);
      background-color: rgb(255, 255, 255);
      transform: translateY(-5%);
      width: 50px;
      height: 30px;
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      font-size: 20px;
    }
    @include m.md {
      border-radius: 5%;
      transform: translateY(-5%);
      width: 50px;
      height: 30px;
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      font-size: 20px;
    }
    @include m.lg {
      border-radius: 5%;
      transform: translateY(-5%);
      width: 50px;
      height: 30px;
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
      font-size: 20px;
    }
  }
}

#todo-list {
  @include m.sm {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 25%;
    line-height: 50px;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
        font-weight: lighter;
  }
  @include m.md {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 25%;
    line-height: 50px;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
        font-weight: lighter;
  }
  @include m.lg {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 25%;
    line-height: 50px;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
        font-weight: lighter;
  }
}

.section2 {
  @include m.sm {
    position: relative;
    background-color: white;
    width: 70%;
    height: 30%;
    transform: translateX(25%) translateY(50%);
    border-radius: 5%;
  }
  @include m.md {
    position: relative;
    background-color: white;
    width: 35%;
    height: 50%;
    transform: translateX(170%) translateY(-109%);
    border-radius: 5%;
  }
  @include m.lg {
    position: relative;
    background-color: white;
    width: 25%;
    height: 50%;
    transform: translateX(230%) translateY(-109%);
    border-radius: 5%;
  }
  h2 {
    @include m.sm {
      font-size: 25px;
      text-align: center;
      transform: translateY(-120%);
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
    }
    @include m.md {
      font-size: 25px;
      text-align: center;
      transform: translateY(15%);
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
    }
    @include m.lg {
      font-size: 25px;
      text-align: center;
      transform: translateY(25%);
      font-family: 'Questrial', sans-serif;
        font-weight: lighter;
    }
  }
}

#todo-done {
  @include m.sm {
    display: flex;
    flex-direction: column;
    transform: translateX(20%);
    font-family: 'Questrial', sans-serif;
        font-weight: lighter;
    font-size: 20px;
    line-height: 50px;
  }
  @include m.md {
    font-family: 'Questrial', sans-serif;
        font-weight: lighter;
    font-size: 20px;
    line-height: 45px;
  }
  @include m.lg {
    font-family: 'Questrial', sans-serif;
        font-weight: lighter;
    display: flex;
    flex-direction: column;
    transform: translateX(20%);
    font-size: 20px;
    line-height: 50px;
  }
}

ul > li:nth-of-type(3n + 1) {
  list-style-image: url("/src/img/starblue.png");
}
ul > li:nth-of-type(3n + 2) {
  list-style-image: url("/src/img/stargreen.png");
}
ul > li:nth-of-type(3n + 3) {
  list-style-image: url("/src/img/starpink.png");
}
