@use "mixins" as m;
@use "variables" as v;

body {
  width: 100%;
  height: 100vh;
  background-image: url(/src/img/notebook.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .page1 {
    width: 30%;
    height: 90%;
    transform: translateX(58%) translateY(7%);
    h1 {
      color: rgb(255, 0, 0);
      font-family: "Sniglet", cursive;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 50px;
      text-align: center;
      transform: translateY(90%);
    }
  }
}

#sortButton {
  width: 90px;
  height: 40px;
  transform: translateX(630px) translateY(25px);
  font-family: "Sniglet", cursive;
}

.form {
  text-align: center;
  transform: translateY(170%);
  input {
    width: 350px;
    height: 50px;
    font-family: "Sniglet", cursive;
    font-size: 25px;
  }
  button {
    width: 150px;
    height: 50px;
    font-family: "Sniglet", cursive;
    font-size: 20px;
  }
}


#todo-list {
  width: 85%;
  height: 70%;
  font-family: "Sniglet", cursive;
  font-size: 40px;
  transform: translateY(7%) translateX(15%);
  line-height: 86px;
}

.page2 {
  width: 23%;
  height: 70%;
  transform: translateX(240%) translateY(-105%);
  h2 {
    color: black;
    font-family: "Sniglet", cursive;
    font-size: 35px;
    text-align: center;
    transform: translateY(-120%);
  }
}

#todo-done {
  transform: translateY(5%) translateX(10%);
  font-family: "Sniglet", cursive;
  font-size: 35px;
  line-height: 86px;
}

ul > li:nth-of-type(3n + 1) {
  list-style-image: url("/src/img/starblue.png");
}
ul > li:nth-of-type(3n + 2) {
  list-style-image: url("/src/img/stargreen.png");
}
ul > li:nth-of-type(3n + 3) {
  list-style-image: url("/src/img/starpink.png");
}
